p{
	font-family: 'PT Serif', serif;
}
legend{
	font-family: 'Rubik Marker Hatch', cursive;
	border: solid 1px #20B2AA
	padding: 5px;
	font-weight: bold;
	background: #cccccc;
	border-radius:15px;
}
li{
	font-family: 'PT Serif', serif;
}


fieldset{
	margin-bottom: 10px;
	
}
